<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @company.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @company.latitude %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.user.email %>
</p>

<%= link_to "My Jobs ", jobs_path(:user_id => current_user) %>|
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
