<!DOCTYPE html>
<html>
	
	<head>
	  <title>Day Job</title>
	  <%= stylesheet_link_tag    "main.css" %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	   <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	</head>
	
	<body style = " background-color:#F0FBF4">
		<div class="container">
			<div id= "user_nav">	
				<% if user_signed_in? %>
					<%if current_user.account %>
						Signed in as seeker <%= link_to current_user.email, current_user.account %>
						<%= link_to "search jobs",jobs_path%>
					<% elsif current_user.company%>
						Signed in as company <%= link_to current_user.email, current_user.company %>
						<%= link_to "My Jobs ", jobs_path(:user_id => current_user) %>
					<% else%> 
						 <%= link_to current_user.email, new_account_path %>
					<%end%>
					Not you?
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
				<% end %>
			</div>

			<%= yield %>
			
		</div>
	</body>
</html>
