<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :resume %><br>
    <%= f.file_field :resume %>
  </div>
  <div class="field">
    <%= f.label :transcript %><br>
    <%= f.file_field :transcript %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.select :experience, options_for_select([["Entry level","Entry level"],["2-3 years","2-3 years"],["4-9 years","4-9 years"],["10 years +","10 years +"]]) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :user_id,:value => current_user.id %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
